* {
    padding: 0;
    margin: 0;
    user-select: none;
}
html{
    font-size: calc(100dvh / 778);
}
@media screen and (max-width:  calc(100dvh / 778 * 1440)){
    html{
        font-size: calc(100vw / 1440);
    }
}
body {
    background-color: #282828;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17rem 82rem;
    box-sizing: border-box;
    background-color: #282828;
}

header .header--left {
    display: flex;
    align-items: center;
}

header .header__logo {
    width: 40rem;
    height: 40rem;
    background: white;
    border-radius: 50rem;
    cursor: pointer;
}

header .header__nav {
    display: flex;
    list-style: none;
    gap: 50rem;
    margin-left: 100rem;
}

header .header__nav li a {
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 16rem;
    line-height: 24rem;
    color: #FFFFFF;
    transition: 0.2s;
}

header .header__nav li a:hover {
    color: #4BA3ED;
}

header .header-actions {
    display: flex;
    gap: 16rem;
    translate: 0 1rem;
    z-index: 2;
}

header .header-actions .language-selecion {
    cursor: pointer;
    position: relative;
    width: 226rem;
    height: 33rem;
}

header .header-actions .language-selecion .selection {
    width: 226rem;
    height: 33rem;
    border-radius: 3rem;
    background-color: #313131;
    scrollbar-width: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

header .header-actions .language-selecion .selection::-webkit-scrollbar {
    display: none;
}

header .header-actions .language-selecion .selection .option {
    height: 33rem;
    width: 226rem;
    display: flex;
    padding-left: 27rem;
    box-sizing: border-box;
    align-items: center;
}

header .language-selecion .icon {
    width: 11rem;
    height: 14rem;
    position: absolute;
    translate: -50% -50%;
    top: calc(33rem / 2);
    right: 27rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('./img/img-select-language.png');
}

header .header-actions .language-selecion .selection .option {
    box-sizing: border-box;
    border-bottom: 1rem solid transparent;
}

header .header-actions .language-selecion .selection .option,
header .header-actions .account {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 16rem;
    line-height: 24rem;
    color: #FFFFFF;
}

header .header-actions .account {
    width: 77rem;
    height: 33rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    border-radius: 3rem;
    cursor: pointer;
}

/* content */
.container {
    width: 1440em;
    height: 704em;
    background-color: gray;
    scrollbar-width: none;
    position: relative;
    overflow: hidden;
    transform: translateX(-50%);
    left: 50%;
}

.container::-webkit-scrollbar {
    display: none;
}
.container .content {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 2150rem;
    height: 100%;
}

.container .content .sign-in * {
    user-select: none;
}

.container .content .sign-in ,
.container .content .sign-up {
    position: absolute;
    translate: 0 -50%;
    top: 50%;
    left: 180rem;
    z-index: 1;
    text-align: center;
    display: block;
    transition: 1s;
    background-color: rgba(217, 217, 217, 0.2);
    height: 270rem;
    width: 490rem;
    border-radius: 20rem;
}

.container .content .bg {
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

.sign-in__title,
.sign-up__title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 60rem;
    line-height: 69rem;
    color: #000000;
    margin-bottom: 10rem;
    position: absolute;
    top: 62rem;
    width: 100%;
    text-align: center;
}

.sign-in__form input[type="password"],
.sign-in__form input[type="text"] {
    padding: 6.7rem 22rem 0 22rem;
    border-radius: 12rem;
    box-sizing: border-box;
    border: 2rem solid #7FE9FE;
    background: transparent;
    width: 290rem;
    height: 56rem;
    position: absolute;
    color: black;
    outline: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20rem;
    line-height: 23rem;
}

.sign-in__form input[ type="password"] {
    display: none;
    opacity: 0;
    height: 1rem;
}

.sign-in__form input[type="text"] {
    top: 136rem;
    left: 65rem;
}

.sign-in__form input[type="password"]::placeholder,
.sign-in__form input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.signIn_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56rem;
    color: #548CBD;
    width: 56rem;
    background: black;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18rem;
    line-height: 21rem;
    border-radius: 12rem;
    margin-left: 5rem;
    cursor: pointer;
    transition: 1s;
    position: absolute;
    top: 136rem;
    right: 75rem;
}

.sign-in .signup {
    bottom: 50rem;
    position: absolute;
    left: 70rem;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12rem;
    line-height: 14rem;
    color: #000000;
}
.bgMobile{
    display: none;
}
.container .content .sign-up{
    display: block;
    height: 500rem;
    width: 490rem;
    left: auto;
    right: 180rem;
}

/*  */
/* .container .content .sign-in{
    display: none;
} */
.sign-up input[type="text"],
.sign-up input[type="password"]{
    padding: 5rem 22rem 0 22rem;
    border-radius: 12rem;
    box-sizing: border-box;
    border: 2rem solid #7FE9FE;
    background: transparent;
    width: 370rem;
    height: 56rem;
    position: absolute;
    color: black;
    outline: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20rem;
    line-height: 23rem;
    left: 50%;
    translate: -50%;
}
.sign-up__form input[type="password"]::placeholder,
.sign-up__form input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
.sign-up .sign-up__form .fName, .sign-up .sign-up__form .lName{
    width: 180rem;
    translate: 0%;
}
.sign-up .sign-up__form .fName{
    top: 166rem;
    left: 60rem;
}
.sign-up .sign-up__form .lName{
    top: 166rem;
    translate: -100%;
    left: calc(100% - 60rem);
}
.sign-up .sign-up__form input:nth-of-type(3){
    top: 236rem;
    left: 50%;
}
.sign-up .sign-up__form input:nth-of-type(4){
    top: 306rem;
    left: 50%;
}
.sign-up .signun_btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56rem;
    color: #548CBD;
    width: 100rem;
    background: black;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18rem;
    line-height: 21rem;
    border-radius: 12rem;
    margin-left: 5rem;
    cursor: pointer;
    transition: 1s;
    position: absolute;
    bottom: 65rem;
    left: 50%;
    translate: -50%;
}
.sign-up .signin{
    bottom: 20rem;
    position: absolute;
    left: 50%;
    translate: -50%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15rem;
    line-height: 14rem;
    color: #000000;
}
@media screen and (max-width: 1200px){
    html{
        font-size: calc(100vw/1440);
    }
    header{
        height: 200rem;
    }
    header .header--left{
        margin-left: 20rem;
    }
    header .header__logo{
        width: 100rem;
        height: 100rem;
    }
    header .header-actions .language-selecion .selection{ 
        height: 80rem;
    }
    header .header-actions .language-selecion .selection .option{
        height: 80rem;
        font-size: 20rem;
    }
    header .header-actions .account{
        height: 80rem;
        font-size: 20rem;
        width: auto;
        padding: 0 20rem;
    }
    header .header-actions .language-selecion .icon{
        display: none;
    }
    header .header__nav{
        display: none;
    }
    .container{
        height: calc(100vh - 74em);
    }
    .container .content{
        width: 1440em;
        height: 100%;
    }
    .container .content .sign-in{
        background-color: rgba(101, 168, 255, 0.8);
        transform: translate(-50%);
        left: 50%;
        height: 950em;
        width: 850em;
    }
    .container .content .sign-in .sign-in__title,
    .container .content .sign-up .sign-up__title{
        font-size: 120rem;
        line-height: 46rem;
        top: 150rem;
    }
    .container .content .sign-up .sign-up__title{
        font-size: 100rem;
    }
    .sign-in__form input[type="text"]{
        top: 350rem;
        left: 50%;
        translate: -50% 0;
        width: 600rem;
        height: 100rem;
        font-size: 40rem;
        line-height: 46rem;
    }
    .sign-in__form input[type="password"]{
        position: absolute;
        left: 50%;
        translate: -50%;
        display: block;
        opacity: 1;
        height: 100rem;
        top: 500rem;
        width: 600rem;
        height: 100rem;
        font-size: 40rem;
        line-height: 46rem;
    }
    .signIn_btn{
        top: 650rem;
        width: 190rem;
        height: 100rem;
        font-size: 40rem;
        line-height: 46rem;
        transform: translate(-50%);
        left: 50%;
    }
    .sign-in .signup{
        bottom: 80rem;
        transform: translate(-50%);
        left: 50%;
        font-size: 30rem;
        line-height: 35rem;
    }
    .container{
        height: calc(100vh - 74em);
    };
    .container .content .bg{
        display: none;
    }
    .bgMobile{
        display: block;
        position: absolute;
        z-index: 0;
        height: 100%;
        translate: -50% -50%;
        top: 50%;
        left: 50%;
        
    }
    .container .content .sign-up{
        height: 950em;
        width: 850em;
        right: auto;
        left: 200%;
        transform: translate(-50% calc(-50%));
        background-color: rgba(101, 168, 255, 0.8);
    }
    .container .content .sign-in{
        transform: translate(-50% -50%);
        top: 50%;
    }
    .sign-up input[type="text"],
    .sign-up input[type="password"]{
        top: 350rem;
        left: 50%;
        translate: -50% 0;
        width: 670rem;
        height: 100rem;
        font-size: 40rem;
        line-height: 46rem;
    }
    .sign-up .sign-up__form .fName, .sign-up .sign-up__form .lName{
        width: 320rem;
        top: 300rem;
    }
    .sign-up .sign-up__form .fName{
        left: 90rem;
    }
    .sign-up .sign-up__form .lName{
        left: calc(100% - 90rem);
    }
    .sign-up .sign-up__form input:nth-of-type(3){
        top: 440rem;
        left: 50%;
        translate: -50% 0;
    }
    .sign-up .sign-up__form input:nth-of-type(4){
        top: 580rem;
        left: 50%;
        translate: -50% 0;
    }
    .sign-up .signun_btn{
        top: 720rem;
        width: 190rem;
        height: 100rem;
        font-size: 40rem;
        line-height: 46rem;
        transform: translate(0%);
        left: 50%;
    }
    .sign-up .signin{
        bottom: 50rem;
        transform: translate(0%);
        left: 50%;
        font-size: 30rem;
        line-height: 35rem;
    }
    .container .content{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
    @media screen and (min-width: 100vh){
        body{
            overflow: auto;
        }
        .container{
            height: 120vh;
        }
    }
    .container .content .sign-in, .container .content .sign-up {
        translate: 0 calc(-50% - 100rem);
    }
}